<!-- Sign In Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-md4">
                    <div class="card card-signup">
                        <form class="form" method="" action="">
                            <div class="header header-primary text-center">
                                <h4>Log In</h4>
                            </div>
                            <div class="content">

                                <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">face</i>
                                </span>
                                    <input type="text" class="form-control" placeholder="First Name...">
                                </div>

                                <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">email</i>
                                </span>
                                    <input type="text" class="form-control" placeholder="Email...">
                                </div>

                                <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">lock_outline</i>
                                </span>
                                    <input type="password" placeholder="Password..." class="form-control" />
                                </div>

                            </div>
                            <div class="footer text-center">
                                <a href="#" data-dismiss="modal" class="btn btn-simple btn-primary btn-lg">Get Started</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>