<div class="main-content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">store</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Total Employees</p>
                            <h3 class="title">{{employeeList.length}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">people</i> Last 24 Hours
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Recently Created</p>
                            <h3 class="title">{{recentEmployee.name}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">face</i> Supervisor: {{recentEmployee.supervisors}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card" >
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">Employees Information</h4>
                            <p class="category">Updated Today</p>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Phone Number</th>
                                        <th>Supervisors</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let employee of employeeList | SearchPipe:queryString">
                                        <td>{{employee.id}}</td>
                                        
                                        <!--if viewing-->
                                        <td *ngIf="!rowIdsMatch(employee.id)" id="employeeName">{{employee.name}}</td>
                                        <td *ngIf="!rowIdsMatch(employee.id)" id="employeePhone">{{employee.phone}}</td>
                                        <td *ngIf="!rowIdsMatch(employee.id)" id="employeeSupervisor">{{employee.supervisors}}</td>


                                        <!--if editing-->
                                        <td *ngIf="rowIdsMatch(employee.id)">
                                            <input type="text" placeholder="{{employee.name}}" [(ngModel)]="employee.name">
                                        </td>
                                        <td *ngIf="rowIdsMatch(employee.id)">
                                            <input type="text" placeholder="{{employee.phone}}" [(ngModel)]="employee.phone">
                                        </td>
                                        <td *ngIf="rowIdsMatch(employee.id)">
                                            <input type="text" placeholder="{{employee.supervisors}}" [(ngModel)]="employee.supervisors">
                                        </td>
                                        
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Edit" class="btn btn-default btn-simple btn-xs" (click)="editEmployee(employee.id)">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Save" class="btn btn-success btn-simple btn-xs" (click)="updateEmployee(employee)">
                                                <i class="material-icons">done</i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs" (click)="deleteEmployee(employee)">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
